{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web</title>


    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
    <style>
      body{
        background-size: 70%;
        background-repeat: no-repeat;
      }
    </style>
</head>
<body style="background-image: url('{% static "images/continental.jpeg" %}');">
  <center>
  <h1><b>Continental GT 650</b></h1>
  </center>
  <!-- <style="background-image: url('{% static "images/msd.jpg" %}');"></style> -->



  <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    



</body>
</html>